# MSSQL (SQL Server) connection
# For named instance use: SERVER\INSTANCE (e.g. DESKTOP-XXX\SQLEXPRESS)
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=DataWarehouseAnalytics
DB_USER=sa
DB_PASSWORD=your_password
